.instruction-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 20px #00ffc322;
  background-color: var(--color-secundario);
  font-family: var(--fuente-principal);
  width: 27%;
  min-height: 500px;
  margin-bottom: 50px;
}

.instruction-card-image {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.instruction-card-content {
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

.instruction-card-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.instruction-card-description {
  font-size: 1.2rem;
  text-align: start;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .instruction-card {
    width: 65%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .instruction-card {
    width: 80%;
    margin-bottom: 20px;
  }
}