.jefe-card {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin-bottom: 3rem;
    background-color: var(--color-secundario);
    border-radius: 20px;
    box-shadow: 0 0 20px #00ffc322;
}

.jefe-div-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--fuente-principal);
    max-width: 400px;
}

.jefe-div-info {
    font-family: var(--fuente-principal);
    margin: 0 1.5rem;
    max-width: 800px;
}

.jefe-img {
    aspect-ratio: 1/1;
    width: 300px;
}

.jefe-name {
    font-size: 2rem;
    margin-bottom: 0;
}

.jefe-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.jefe-description {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.jefe-attack {
    font-size: 1.1rem;
}

@media (max-width: 1024px) {
    .jefe-card {
        flex-direction: column;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
        max-width: 600px;
    }

    .jefe-div-info {
        margin-left: 1.5rem;
    }
}

@media (max-width: 768px) {

    .jefe-img {
        width: 250px;
    }

    .jefe-description {
        font-size: 1rem;
    }

    .jefe-attack {
        font-size: 1rem;
    }
}