.jefes {
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.jefes-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jefes-title {
    margin: 5rem 2rem 2rem 2rem;
    font-family: var(--fuente-titulos);
    font-size: 2.5rem;
    text-shadow: 0 0 10px #00ffc377;
}

.jefes-description {
    font-family: var(--fuente-principal);
    font-size: 1.7rem;
    margin: 2rem 2rem 5rem 2rem;
    text-align: center;
}

@media (max-width: 1024px) {
    .jefes-title {
        font-size: 2.5rem;
        text-align: center;
    }

    .jefes-description {
        font-size: 1.5rem;
        margin: 2rem 1rem 3rem 2rem;
    }
}

@media (max-width: 768px) {
    .jefes {
        max-width: 100dvw;
    }

    .jefes-title {
        font-size: 2rem;
        text-align: center;
    }

    .jefes-description {
        font-size: 1.2rem;
        margin: 2rem 1rem 3rem 2rem;
    }
}