.highscores {
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.highscores-title {
    font-family: var(--fuente-titulos);
    font-size: 2.5rem;
    margin-top: 5rem;
}

.highscores-desc {
    font-family: var(--fuente-principal);
    font-size: 1.5rem;
}

.highscores-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.highscores-loading {
    font-family: var(--fuente-principal);
    font-size: 1.5rem;
    margin-top: 0;
}
