.led-symbology {
    background-color: var(--color-secundario);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px #00ffc322;
    margin: 20px;
    width: 70%;
    font-family: var(--fuente-principal);
    box-sizing: border-box;
}

.led-symbology-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.led-symbology-title {
    font-size: 2rem;
    margin: 0;
}

.led-symbology-description {
    font-size: 1.2rem;
    text-align: start;
    margin: 10px 0;
}

@media (max-width: 1024px) {
    .led-symbology {
        margin-bottom: 20px;
        width: 85%;
    }
}

@media (max-width: 768px) {
    .led-symbology {
        margin-bottom: 20px;
        flex-direction: column-reverse;
        text-align: center;
        width: 95%;
    }

    .led-symbology-description {
        text-align: center;
        font-size: 1.1rem;
    }
}