.highscores-table-container {
    width: 100%;
    overflow-x: auto;
    /* Quita display: flex en móviles */
}

.highscores-table {
    font-family: var(--fuente-principal);
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
    max-width: 1200px; /* Limita el ancho máximo */
    margin: 2rem auto; /* Centra la tabla */
    overflow-x: auto; /* Permite desplazamiento horizontal */
}

.highscores-table th, td {
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}

.highscores-table-head {
    border-radius: 20px;
}

.highscores-table-header {
    text-align: center;
    font-size: 1.2rem;
    padding: 15px;
    background-color: var(--color-secundario);
}

.highscores-table-header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media queries para pantallas medianas (tabletas) */
@media (max-width: 1024px) {
    .highscores-table {
        max-width: 800px;
    }

    .highscores-table th, td {
        font-size: 0.7rem;
        padding: 8px;
    }

    .highscores-table-header {
        font-size: 1rem;
        padding: 10px;
    }
}

/* Media queries para pantallas pequeñas (celulares) */
@media (max-width: 768px) {
    .highscores-table {
        display: block; /* Convierte la tabla en un bloque desplazable */
        max-width: 100dvw; /* Asegura que la tabla no exceda el ancho de la pantalla */
    }

    .highscores-table-header {
        font-size: 0.9rem;
        padding: 8px;
    }
}